{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}WeatherTalk{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'weather/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
                
        {% block script %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'weather:homepage' %}">WeatherTalk</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:profile_page' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="/#start_section">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:friend_list' %}">Friend List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Live Chat <span class="beta">beta</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </nav>

        {% block banner %}
        {% endblock %}

        {% block profile %}
        {% endblock %}


        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>