{% extends "weather/layout.html" %}
{% load static %}

{% block banner %}
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Welcome to WeatherTalk</h1>
            </header>

            <div class="flex ">

                <div>
                    <span class="icon fa-users"></span>
                    <h3>Friends</h3>
                    <p>Add people to friendlist</p>
                </div>

                <div>
                    <span class="icon fa-comments-o"></span>
                    <h3>Connect & Share</h3>
                    <p>Post and update status</p>
                </div>

                <div>
                    <span class="icon fa-sun-o"></span>
                    <h3>Weather Update</h3>
                    <p>Break the ice 24/7</p>
                </div>

            </div>

            <footer>
                {% if user.is_authenticated %}
                    <a id="start-btn" class="nav-link button-start" href="/#start-btn" >Get Started</a>
                {% else %}
                    <a class="nav-link button-start" href="{% url 'weather:login' %}" >Get Started</a>
                {% endif %}
            </footer>
        </div>
    </section>
{% endblock %}

{% block body %}
    <!-- Click start and navigate to here  -->
    <div id="start_section">
    </div>

    <div class="container">
        <div class="row sm-flex-center">

            <div class="container app-container col-sm-6">
                <div class="app-title">
                    <p>Weather</p>
                </div>
                <div class="app-frame border rounded">
                    <div class="notification"> </div>
                    <div class="weather-container">
                        <div class="weather-icon">
                            <img src="{% static 'weather/icons/unknown.png' %}" alt="">
                        </div>
                        <div class="feels-like-value">
                            <p>- °<span>C</span></p>
                        </div>
                        <div class="temperature-value">
                            <p>- °<span>C</span></p>
                        </div>
                        <div class="temperature-description">
                            <p> - </p>
                        </div>
                        <div class="location">
                            <p>-</p>
                        </div>
                        <div class="location">
                            <p>{{ now }}</p>
                        </div>
                    </div>    

                    <div class="post-form">
                        {% if user.is_authenticated %}
                        <!-- Create new post using form -->
                            <form id="compose-form" onsubmit="compose_post()">
                                <div class="form-group">
                                    <textarea class="form-control" id="compose-body" placeholder="How is the weather in your area?"></textarea>
                                </div>
                                    <!-- Submit button -->
                                    <input type="submit" id="compose_btn" class="btn btn-primary" value="Post"/>
                            </form>
                        {% else %}
                            <form id="compose-form" action="{% url 'weather:login' %}">
                                <div class="form-group">
                                    <textarea class="form-control" id="compose-body" placeholder="How is the weather in your area?"></textarea>
                                </div>
                                    <!-- Submit button -->
                                    <input type="submit" id="compose_btn" class="btn btn-primary" value="Post"/>
                            </form>
                        {% endif %}
                    </div>
                   
                    <h6 class="scroll-down-text">Scroll down to load more</h6>

                </div>
            </div>

            <div class="container post-container col-sm-6 pull-right">
                <div id="post_section">
                    <p>Message Board</p>
                    <p id="loading-text"></p>
                </div>
                <div id="message-board" class="list-group-item list-group-item-secondary list_style border rounded">
            
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'weather/weatherapp.js' %}"></script>
{% endblock %}