{% extends "weather/layout.html" %}
{% load static %}

{% block profile %}
<div>
  {{ profile.username|json_script:"profile_username" }} 
  Username: {{ profile.username }} 

  <!-- Able to add if have not yet, or if are not user own profile -->
  {% if friend_relations is None and profile.username != user.username %}
    <button id="add_btn" type="button" class="btn btn-primary">+1 Add Friend</button>
  {% else %}
    <button id="add_btn" type="button" class="btn btn-primary" disabled>+1 Add Friend</button>
  {% endif %}

  <br>
  {% if user.is_authenticated and profile.get.username != user.username %}
    <br>
    Most recent activity:<br>
    {{ post_list.last.content }} 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{ post_list.last.timestamp }} <br>
  {% endif %}
  
</div>
{% endblock %}

{% block body %}
{% endblock %}

{% block script %}
<script src="{% static 'weather/profile.js' %}"></script>
{% endblock %}